<h4>Benchmarks For Your Online Community</h4>
<p>
  It’s common to find community managers toiling away developing a premium platform or a complex MVP program without having enough members to use it or plenty of questions to answer.
</p>
<p>
  It’s really easy to plot a path forward when you know where you are now.
</p>
<p>
  This means benchmarking your community against others and general principles of growth and development. To accomplish this, you can use the updated community lifecycle below:
</p>
<%= raw(report_image_tag 'The-FeverBee-Community-Lifecycle-1.png', width: 480, alt: 'The Community Lifecycle') %>
<p>
  In each category of the lifecycle (on the left), you can identify approximately where you are now and what to work on next.
</p>
<p>
  It’s not an exact science (and you’re probably going to be further along the lifecycle in some areas than others) but it’s a broad guide to help you develop your next steps.
</p>

